<!doctype html>

{{ template "base" . }}

{{ define "content" }}
<div class="corps">
<div class="container">
    <div >
        <h1>{{.TitrePage}}</h1>
    </div>
    <div class="col"> 
        <table class="tableh">  
            <tbody>
                <a href="/ListeDesEditeurs"><span class="bouton3">Retour à la liste des Editeurs</span> </a>
                <form action="/UpdateEditeurPost/{{.Editeur.Editeur_Id}}" method="post">
                    <tr><th>Id</th><td><input class="datav" type="text" name="Editeur_Id" class="form-control" value="{{.Editeur.Editeur_Id}}"></td></tr>
                    <tr><th>Titre</th><td><input class="datav" type="text" name="Nom" class="form-control" value="{{.Editeur.Nom}}"></td></tr>
                    <tr><th>CreatedAt</th><td><input class="datav" type="text" name="CreatedAt" class="form-control" value="{{.Editeur.CreatedAt}}" readonly></td></tr>
                    <tr><th>UpdatedAt</th><td><input class="datav" type="text" name="UpdatedAt" class="form-control" value="{{.Editeur.UpdatedAt}}" readonly></td></tr>
                    <input type="submit" class="bouton1" value="Modifier">
                </form>
            </tbody>
        </table>
    </div>
</div>
</div>
{{end}}